*
!.gitignore
!profiles/defaultProfilePicture.svg


!covers/course00.webp
!covers/course01.webp
!covers/course02.webp
!covers/course03.webp
!thumbnails/course00.webp
!thumbnails/course01.webp
!thumbnails/course02.webp
!thumbnails/course03.webp

!*/