*
!.gitignore
!profiles/defaultProfilePicture.svg


!covers/course00.webp
!covers/course01.webp
!covers/course02.webp
!covers/course03.webp
!covers/course04.webp
!covers/course05.webp
!covers/course06.webp
!covers/course07.webp
!covers/course08.webp
!covers/course09.webp
!covers/course10.webp
!covers/course11.webp
!covers/course12.webp
!covers/course13.webp
!covers/course14.webp
!covers/course15.webp
!covers/course16.webp
!covers/course17.webp
!covers/course18.webp
!covers/course19.webp
!covers/course20.webp
!covers/course21.webp
!covers/course22.webp
!covers/course23.webp
!covers/course24.webp
!covers/course25.webp
!covers/course26.webp
!covers/course27.webp
!thumbnails/course00.webp
!thumbnails/course01.webp
!thumbnails/course02.webp
!thumbnails/course03.webp
!thumbnails/course04.webp
!thumbnails/course05.webp
!thumbnails/course06.webp
!thumbnails/course07.webp
!thumbnails/course08.webp
!thumbnails/course09.webp
!thumbnails/course10.webp
!thumbnails/course11.webp
!thumbnails/course12.webp
!thumbnails/course13.webp
!thumbnails/course14.webp
!thumbnails/course15.webp
!thumbnails/course16.webp
!thumbnails/course17.webp
!thumbnails/course18.webp
!thumbnails/course19.webp
!thumbnails/course20.webp
!thumbnails/course21.webp
!thumbnails/course22.webp
!thumbnails/course23.webp
!thumbnails/course24.webp
!thumbnails/course25.webp
!thumbnails/course26.webp
!thumbnails/course27.webp

!*/
