@use "../abstracts" as *;
.aboutus{
    margin-left: 60px;
}
.breadCrumbs{
    margin-left: 60px;
}

.containerCards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    .cardOne{
        display: flex;
        width: 400px;
        height: 200px;
        border-radius: 15px;
        margin-top: 50px; 
        background-color: #E5F6F8;  
        .pictureBox{
            
            width: 180px;
            .peopleImg{
                margin-top: 10px;
                width: 180px;
                height: 180px;
                margin-left: 10px;
            }
        }
        .textBox{
            
            width: 220px;
            .name{
                margin-top: 20px;
                margin-left:25px;
            }
            .email{
                margin-left:25px;
            }
            .role{
                margin-left:25px;
            }
        }
    }
    .cardTwo{
        display: flex;
        width: 400px;
        height: 200px;
        background-color: #E5F6F8;
        margin-top: 50px;
        border-radius: 15px;
        .pictureBox{
            
            width: 180px;
            .peopleImg{
                margin-top: 10px;
                width: 180px;
                height: 180px;
                margin-left: 10px;
            }
        }
        .textBox{
           
            width: 220px;
            .name{
                margin-top: 20px;
                margin-left:25px;
            }
            .email{
                margin-left:25px;
            }
            .role{
                margin-left:25px;
            }
        }
    }
    .cardThree{
        display: flex;
        width: 400px;
        height: 200px;
        background-color: #E5F6F8;
        margin-top: 50px;
        border-radius: 15px;
        .pictureBox{
            
            width: 180px;
            .peopleImg{
                margin-top: 10px;
                width: 180px;
                height: 180px;
                margin-left: 10px;
            }
        }
        .textBox{
            
            width: 220px;
            .name{
                margin-top: 20px;
                margin-left:25px;
            }
            .email{
                margin-left:25px;
            }
            .role{
                margin-left:25px;
            }
        }
    }
    .cardFour{
        display: flex;
        width: 400px;
        height: 200px;
        background-color: #E5F6F8;
        margin-top: 50px;
        border-radius: 15px;
        .pictureBox{
            
            width: 180px;
            .peopleImg{
                margin-top: 10px;
                width: 180px;
                height: 180px;
                margin-left: 10px;
            }
        }
        .textBox{
            
            width: 220px;
            .name{
                margin-top: 20px;
                margin-left:25px;
            }
            .email{
                margin-left:25px;
            }
            .role{
                margin-left:25px;
            }
        }
    }
    .cardFive{
        display: flex;
        width: 400px;
        height: 200px;
        background-color: #E5F6F8;
        margin-top: 50px;
        border-radius: 15px;
        .pictureBox{
            
            width: 180px;
            .peopleImg{
                margin-top: 10px;
                width: 180px;
                height: 180px;
                margin-left: 10px;
            }
        }
        .textBox{
            
            width: 220px;
            .name{
                margin-top: 20px;
                margin-left:25px;
            }
            .email{
                margin-left:25px;
            }
            .role{
                margin-left:25px;
            }
        }
    }
}