@use "../abstracts" as *;
section#about {
    padding-top: 25px;
    min-height: calc(100vh - 600px);

    .aboutWrapper {
        margin-left: auto;
        margin-right: auto;
        padding: 0 50px 40px 50px;

        display: flex;
        gap: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1600px;

        .aboutContainer {
            height: 300px;
            width: 500px;
            display: flex;
            flex-direction: row;

            .picture {
                img {
                    border-radius: 15px 0 0 15px;
                    height: 300px;
                    width: 240px;
                    object-fit: cover;
                    background: #ff892e94;
                }
            }

            .description {
                padding: 30px;
                border-radius: 0 15px 15px 0;
                background-color: #E5F6F8;
                position: relative;

                h1 {
                    font-family: "BerlinTypeBold";
                    color: #05445E;
                    font-size: 30px;
                }

                p {
                    color: #005F60;

                    span {
                        font-family: "BerlinTypeBold";
                    }
                }

                button {
                    position: absolute;
                    right: 25px;
                    bottom: 25px;

                    .iconCorner {
                        margin-left: 5px;
                        width: 15px;
                        height: 15px;
                    }
                }
            }

            @media screen and (max-width: 750px) {
                flex-direction: column;
                height: auto;
                width: 340px;
        
                .picture {
                    img {
                        width: 340px;
                        border-radius: 15px 15px 0 0;
                        transform: translateY(8px);
                    }
                }
        
                .description {
                    height: 250px;
                    border-radius: 0 0 15px 15px;
                }
            }
        }
    }
}