@use "../abstracts" as *;

$color-primary: #0F4C75;
$color-secondary: #3282B8;
$color-tertiary: #BBE1FA;
$color-text: #333333;
$color-bg: #F5F5F5;

section#about {
    padding-top: 25px;
    min-height: calc(100vh - 600px);

    .aboutWrapper {
        margin-left: auto;
        margin-right: auto;
        padding: 0 50px 40px 50px;

        display: flex;
        gap: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1600px;

        .aboutContainer {
            height: 300px;
            width: 500px;
            display: flex;
            flex-direction: row;

            .picture {
                img {
                    border-radius: 15px 0 0 15px;
                    height: 300px;
                    width: 240px;
                    object-fit: cover;
                }
            }

            .description {
                padding: 30px;
                border-radius: 0 15px 15px 0;
                background-color: $color-tertiary;
                position: relative;

                h1 {
                    font-family: "BerlinTypeBold";
                    color: $color-primary;
                    font-size: 30px;
                }

                p {
                    color: $color-secondary;

                    span {
                        font-family: "BerlinTypeBold";
                    }
                }

                button {
                    position: absolute;
                    right: 25px;
                    bottom: 25px;

                    .iconCorner {
                        margin-left: 5px;
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .aboutContainer {
        flex-direction: column;
        height: auto;
        width: 340px;

        .picture {
            img {
                height: auto;
                width: 340px;
                border-radius: 15px 15px 0 0;
                transform: translateY(8px);
            }
        }

        .description {
            height: 250px;
            border-radius: 0 0 15px 15px;
        }
    }
}