@use "../abstracts" as *;

section#contact{
   padding-top: 70vh;
}


body{
   &.contactBackground{
      header{
         background-color: white;
         nav{
         }
      }
   }
}

.contactBackground{
   background: center center / cover no-repeat fixed url(./../img/ContactUsMainPic.webp);
   background-repeat: no-repeat;
   background-position: center center;
}
