@use "../abstracts" as *;

section#course,
section#publicProfile,
section#profileDescription {
    .cover {
        border: solid 2.5px #E0E1E5;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 100px 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        max-width: 1450px;
        min-width: 1450px;
        overflow: hidden;
        position: relative;
        height: 300px;
        
        @media screen and (max-width: 1500px) {
            margin-left: 25px;
            margin-right: 25px;
            min-width: 0px;
        }

        img {
            object-fit: cover;
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    div.c,
    div.descriptionContainer {
        color: #00617e;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "BerlinTypeBold";
            color: #05445E;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 30px;
        }

        del {
            color: #ff892e;
        }

        strong {
            font-family: "BerlinTypeBold";
        }

        a {
            color: #29bee8;
        }

        table {
            border: 2.5px solid rgba(0, 0, 0, .1) !important;
            border-collapse: collapse;

            thead {
                tr {
                    th {
                        background-color: #555;
                        color: #fff;
                        font-weight: 300;
                        padding-top: 6px;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border: 2.5px solid rgba(0, 0, 0, .1);
                        padding: 5px 14px 5px 12px;
                    }
                }
            }
        }

        hr {
            width: 100%;
            border: solid 0.5px #555 !important;
        }

        ul {
            padding-inline-start: 40px;
        }

        blockquote {
            color: #767882;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 8px;
                height: 50px;
                left: -20px;
                top: -10px;
                background: #e0e1e5;
            }
        }

        .courseInfo {
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 15px;
            border-bottom: solid 2.5px #E0E1E5;
            
            .courseTitle {
                font-family: "BerlinTypeBold";
                color: #1D212F;
                font-size: 35px;
                padding-right: 80px;
            }

            .linkTree {
                padding-bottom: 10px;
                overflow: auto;

                a {
                    font-size: 20px;
                    color: #767882;
                    transition: all .5s;
                    text-overflow: ellipsis;
                    text-decoration: none;
                }

                a:hover {
                    color: #474747;
                }
            }

            .tags {
                padding-bottom: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                height: auto;

                div {
                    font-size: 15px;
                    background-color: #FFF4EE;
                    border-radius: 10px;
                    padding: 5px 10px;
                }
            }

            .introduction {
                font-family: "BerlinTypeBold";
            }

            .views {
                position: absolute;
                right: 0;
                top: 0;
                border: solid 2.5px #E0E1E5;
                border-radius: 12px;
                padding: 5px 10px;
                width: auto;
            }
        }
    }
}


section#coursePages{
    nav{

        ul.pagination{
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            list-style-type: none;

            display: flex;
            justify-content: center;

            li{
                width: 55px;
                height: 55px;
                background-color: #E5F6F8;
                border-radius: 8px;
                margin: 0 6px;
                padding: auto;
                font-family: "BerlinTypeBold";
                font-size: 20px;
                transition: .5s all;

                a, span {
                    text-decoration: none;
                    text-align: center;
                    align-items: center;
                    display: grid;
                    height: 100%;
                    width: 100%;
                }
                a{
                    color: #13739b;
                }
                span{
                    color: #fff;
                }

                &.arrow{
                    background-color: transparent;
                    text-align: center;
                    align-items: center;
                    display: grid;
                    width: auto;
                    
                    &.right{
                        padding-left: 10px;
                        justify-content: start;
                        transition: .5s all;

                        &:hover{
                            transform: translateX(5px);
                        }
                    }
                    
                    &.left{
                        padding-right: 10px;
                        justify-content: end;
                        transition: .5s all;

                        &:hover{
                            transform: translateX(-5px);
                        }
                    }

                    &.disabled{
                        filter: grayscale(1) opacity(0.2);
                        &:hover{
                            transform: translateX(0);
                        }
                    }

                    img{
                        height: 40px;
                    }
                }

                &:hover{
                    transform: scale(1.1);
                }

                &.active{
                    background-color: #f78104;
                    color: #fff;
                    &:hover{
                        transform: scale(1);
                    }
                }
            }
        }
    }
}