section#course {
   .cover {
      border: solid 2.5px #E0E1E5;
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 100px 50px;
      margin-left: auto;
      margin-right: auto;
      max-width: 1450px;
      min-width: 1450px;
      overflow: hidden;
      position: relative;
      height: 300px;

      img {
         object-fit: cover;
         pointer-events: none;
         position: absolute;
         width: 100%;
         height: 100%;
         z-index: -1;
      }
   }

   div.c {
      color: #00617e;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
         font-family: "BerlinTypeBold";
         color: #05445E;
         margin-top: 10px;
         margin-bottom: 10px;
      }
      h1{
         font-size: 30px;
      }

      del {
         color: #ff892e;
      }

      strong {
         font-family: "BerlinTypeBold";
      }

      a {
         color: #29bee8;
      }

      table {
         border: 2.5px solid rgba(0, 0, 0, .1) !important;
         border-collapse: collapse;

         thead {
            tr {
               th {
                  background-color: #555;
                  color: #fff;
                  font-weight: 300;
                  padding-top: 6px;
               }
            }
         }

         tbody {
            tr {
               td {
                  border: 2.5px solid rgba(0,0,0,.1);
                  padding: 5px 14px 5px 12px;
               }
            }
         }
      }

      hr{
         width: 100%;
         border: solid 0.5px #555 !important;
      }

      ul{
         padding-inline-start: 40px;
      }

      blockquote{
         color: #767882;
         position: relative;

         &::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 50px;
            left: -20px;
            top: -10px;
            background: #e0e1e5;
          
        }
      }

      .courseInfo{
         position: relative;
         padding-bottom: 10px;
         margin-bottom: 15px;
         border-bottom: solid 2.5px #E0E1E5;
         .courseTitle{
            font-family: "BerlinTypeBold";
            color: #1D212F;
            font-size: 35px;
            padding-right: 80px;
         }
         .linkTree{
            padding-bottom: 10px;
            overflow: auto;
            white-space: nowrap;
            a{
               font-size: 20px;
               color: #767882;
               transition: all .5s;
               text-overflow: ellipsis;
            }
            a:hover{
               color: #474747;
            }
         }
         .tags{
            padding-bottom: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            height: auto;

            div{
               font-size: 15px;
               background-color: #FFF4EE;
               border-radius: 10px;
               padding:  5px 10px;
            }
         }
         .introduction{
            font-family: "BerlinTypeBold";
         }
         .views{
            position: absolute;
            right: 0;
            top: 0;
            border: solid 2.5px #E0E1E5;
            border-radius: 12px;
            padding: 5px 10px;
            width: auto;
         }
      }

   }
}

@media only screen and (max-width: 1500px){
   section#course{
      .cover{
         margin-left: 25px;
         margin-right: 25px;
         min-width: 0px;
      }
   }
}

section#coursesAll {
   display: flex;
   flex-wrap: wrap;
   gap: 25px;
   justify-content: center;
   align-items: center;
   max-width: 1500px;
   margin-left: auto;
   margin-right: auto;
}

.courseCard{
   height: 200px;
   width: 300px;

   a{
      img{
         object-fit: cover;
         height: 150px;
         width: 200px;
      }
      .courseInfo{

      }
   }
}