section#faq{
    
    min-height: calc(100vh - 600px);

    .faqWrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 25px;


        .faqContainer{
            position: relative;
            box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 100px 50px;
            background-color: #ffffff;
            border: solid 2.5px #E0E1E5;
            border-radius: 12px;
            text-align: left;
            width: calc(100% - 50px);
            cursor: pointer;

            p.question{
                font-family: "BerlinTypeBold";
                font-size: 22px;
                padding: 25px 75px 25px 25px;
            }

            p.answer{
                font-size: 17.6px;
                padding: 0 25px 25px 25px;
                display: none;
                cursor: auto;
            }

            &::after{
                content: url(./../svg/arrowFAQ.svg);
                display: inline-block;
                position: absolute;
                right: 25px;
                top: 25px;
                height: 24px;
                width: 24px;
                transition: .2s;
            }

            &.hiddenAnswer{
                p.answer{
                    display: block;
                }
                &::after{
                    transform: rotateX(180deg);
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .faqWrapper{
        flex-wrap: wrap !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: flex-start !important;

        .faqContainer{
            width: calc(50% - 50px) !important;
        }
    }
}