@use "../abstracts" as *;

header{
   height: 100%;
   width: 100%;
   margin-bottom: 25px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 23px -4px;
   
   .loader{
      width: 100%;
      height: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 45px 50px 0px inset;
      background-color: $headloader;
   }
   nav{
      width: 100%;
      max-width: 1540px;
      height: 90px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button{
         width: 90px;
         height: 55px;
         margin: 10px;
         padding: 0;
         border-radius: 8px;
         border: none;
         box-shadow: 0px 0px 20px -20px;
         background-color: #d8f2f5;
         cursor: pointer;

         &:hover {
            background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
            box-shadow: 0px 0px 20px -18px;
            transition: 2.5s ease-in-out;
         }
      
         &:active {
            transform: scale(0.9);
            transition: 0.1s ease;
         }
      
         &:focus {
            transition: 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
            outline: 3px solid #E8EDEB;
         }

         img{
            height: 38px;
            width: 38px;

         }
      }

      .logoLink{
         padding: 15px 20px 15px 20px;
         text-decoration: none;
      }

      .linkWrapper{
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: flex-end;

         a{
            width: 90px;
            height: 55px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $headDivBackground;
            text-decoration: none;

            margin: 10px;

            &:nth-last-child(1){
               margin-right: 20px;
            }

            &:focus {
               transition: 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
               outline: 3px solid #E8EDEB;
            }

            &:hover {
               background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
               box-shadow: 0px 0px 20px -18px;
               transition: 2.5s ease-in-out;
               outline: none;
            }

            &:active {
               border: none;
               outline: none;
            }

            img{
               height: 40px;
               width: 40px;
               border-radius: 100%;
            }
         }
      }
   }
}

@media only screen and (max-width: 700px){
   header{
      nav{
         a{
            .logoTitle{
               display: none;
            }
         }
      }
   }
}

