@use "../abstracts" as *;

header.homeHeader {
    margin-bottom: 0 !important;
    height: auto;

    header {
        background-color: #ffffff69;
        height: auto;
        position: absolute;
        top: 0;
        z-index: 99;
    }
}

.sectionTitle {
    color: #005F60;
    font-size: 35px;
    padding: 100px 25px 80px 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    min-width: 1300px;

    @media screen and (max-width: 1400px) {
        margin-left: 25px;
        margin-right: 25px;
        min-width: 0px;
    }
}

.hiddenAnimation {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.visibleAnimation {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

section#cover {
    position: relative;
    display: block;
    transition: opacity 0.5s ease-in-out 0s;
    background: center center / cover no-repeat fixed url(./../img/landing.webp);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    min-height: 800px;

    .catch {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -70%);
        width: 400px;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;

        h1 {
            color: white;
            text-transform: uppercase;
            font-size: 65px;
        }

        button {
            padding: 0 30px 0 30px;
            margin: 5px 0 25px 0;
        }

        span {
            color: white;
            font-size: 22px;
        }
    }

    .moreArrow {
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translate(-50%);

        a {
            text-decoration: none;

            img {
                height: 30px;
                width: 30px;
            }
        }

    }

    .linkDiscord {
        position: absolute;
        right: 40px;
        bottom: 40px;

        a {
            font-family: "BerlinTypeBold";
            text-decoration: none;
            color: white;
            border-radius: 20px;
            padding: 10px 15px 10px 15px;

            transition: all .4s;
        }

        a:hover {
            background-color: rgba(255, 255, 255, 0.35);
        }
    }

    @media screen and (max-width: 720px) {
        .linkDiscord {
            bottom: 120px;
            left: 50%;
            transform: translate(-50%);
            width: 205px;

            a {
                background-color: rgba(255, 255, 255, 0.35) ;
            }
        }

        .catch {
            width: 100%;
            h1 {
                font-size: 50px;
            }
        }
    }
}

section#phrases {
    .phrasesWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .phrasesContainer {
            width: 60%;
            background-color: #E5F6F8;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            &:nth-child(2) {
                background-color: #FFF4EE;
                justify-content: flex-start;
                width: 40%;
            }

            .phrase {
                width: 600px;
                padding: 40px 40px 40px 0px;
                color: #005F60;

                span {
                    color: #ff892e;
                }

                h2 {
                    color: #05445e;
                    font-family: "BerlinTypeBold";
                    text-transform: uppercase;
                    font-size: 32px;
                    margin-bottom: 15px;
                }

                &.second {
                    padding: 40px 0px 40px 40px;

                    div {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        margin-bottom: 14px;
                    }

                    img {
                        background-color: #FF9966;
                        border-radius: 9px;
                        padding: 5px;
                        height: 16px;
                        width: 16px;
                        fill: #FFF4EE;
                    }
                }
            }
        }

        @media screen and (max-width: 1050px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .phrasesContainer {
                width: 100%;

                &:nth-child(2) {
                    width: 100%;
                }

                .phrase {
                    width: 100%;
                    padding: 40px 40px 40px 40px;
                }
            }
        }
    }
}

section#categories {
    position: relative;

    .categoryWrapper {
        margin-right: auto;
        margin-left: auto;

        .categoryContainer {
            display: grid;
            justify-content: center;
            grid-template-columns: 300px 300px 300px;
            row-gap: 50px;
            column-gap: 50px;
            width: auto;
            height: auto;

            @media screen and (max-width: 1079px) {
                grid-template-columns: 300px 300px;
            }

            @media screen and (max-width: 1079px) {
                grid-template-columns: 300px 300px;
            }

            @media screen and (max-width: 779px) {
                grid-template-columns: 300px;
            }

            div {
                height: 300px;
                width: 300px;
                position: relative;
                background-size: 300px 300px !important;

                div {
                    background: none !important;
                    position: absolute;
                    width: auto;
                    height: auto;
                    background: none;

                    &.category-text {
                        font-family: "BerlinTypeBold";
                        color: white;
                        font-size: 2rem;
                        position: absolute;
                        text-transform: uppercase;

                        &.leftBottom {
                            bottom: 15px;
                            left: 15px;
                        }

                        &.leftTop {
                            top: 15px;
                            left: 15px;
                        }

                        &.rightTop {
                            top: 15px;
                            right: 15px;
                        }

                        &.rightBottom {
                            bottom: 15px;
                            right: 15px;
                        }

                        &.dark {
                            color: #1D212F;
                        }
                    }

                }
            }

            :nth-child(1) {
                background: no-repeat center url(../img/categories/yoga.webp);
                transition-delay: 200ms;
            }

            :nth-child(2) {
                background: no-repeat center url(../img/categories/add-weights.webp);
                transition-delay: 200ms;
            }

            :nth-child(3) {
                background: no-repeat center url(../img/categories/dancing.webp);
                transition-delay: 200ms;
            }

            :nth-child(4) {
                background: no-repeat center url(../img/categories/aerobic.webp);
                transition-delay: 400ms;
            }

            :nth-child(5) {
                background: no-repeat center url(../img/categories/balance.webp);
                transition-delay: 400ms;
            }

            :nth-child(6) {
                background: no-repeat center url(../img/categories/stretching.webp);
                transition-delay: 400ms;
            }

            :nth-child(7) {
                background: no-repeat center url(../img/categories/body-weight.webp);
                transition-delay: 600ms;
            }

            :nth-child(8) {
                background: no-repeat center url(../img/categories/fitness.webp);
                transition-delay: 600ms;
            }

            :nth-child(9) {
                background: no-repeat center url(../img/categories/elastic-bands.webp);
                transition-delay: 600ms;
            }
        }
    }
}

section#prices,
section#profileSubscriptionEdit {
    .subscribeWrapper {
        width: calc(100% - 50px);
        gap: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media screen and (max-width: 1299px) {
    .favorite {
        order: +1;
    }
}

@media screen and (max-width: 871px) {
    .favorite {
        order: -2;
    }
}

section#services {
    .serviceWrapper {
        margin-left: auto;
        margin-right: auto;
        padding: 0 50px 100px 50px;

        display: flex;
        gap: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1400px;

        .serviceContainer {
            height: 300px;
            width: 600px;
            display: flex;
            flex-direction: row;

            .picture {
                img {
                    border-radius: 15px 0 0 15px;
                    height: 300px;
                }
            }

            .description {
                padding: 30px;
                border-radius: 0 15px 15px 0;
                background-color: #E5F6F8;
                position: relative;

                h1 {
                    text-transform: uppercase;
                    font-family: "BerlinTypeBold";
                    color: #05445E;
                    font-size: 30px;
                }

                p {
                    color: #005F60;
                }

                button {
                    position: absolute;
                    right: 25px;
                    bottom: 25px;

                    .iconCorner {
                        margin-left: 5px;
                        width: 15px;
                        height: 15px;
                    }
                }
            }

            @media screen and (max-width: 750px) {
                flex-direction: column;
                height: auto;
                width: 340px;
        
                .picture {
                    img {
                        height: auto;
                        width: 340px;
                        border-radius: 15px 15px 0 0;
                        transform: translateY(8px);
                    }
                }
        
                .description {
                    height: 250px;
                    border-radius: 0 0 15px 15px;
                }
            }
        }
    }
}