@use "../abstracts" as *;

section#profileCover {

    .c,
    .container {
        flex-direction: row;
        align-items: center;

        .profilePictureWrapper{
            position: relative;

            img{
                height: 160px;
                width: 160px;
                object-fit: cover;
                border-radius: 100%;
            }
            
            .profilePictureEdit{
                position: absolute;
                right: 0px;
                bottom: 0px;
                height: 45px;
                width: 45px;
                background-color: #FF892E;
                border-radius: 100%;
                cursor: pointer;

                img{
                    height: 25px;
                    width: 25px;
                    border-radius: 0;
                    object-fit: cover;
                    padding: 10px;
                }
            }
        }

        h1{
            width: 100%;
            text-align: center;
            font-size: 46px;
        }
    }
}

.overview-section {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1450px;
    min-width: 1450px;

    .overview-left {
        padding: 25px;
        border: solid 2.5px #e0e1e5;
        background-color: #e5f6f8;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 100px 50px;
        height: 500px;

        p {
            margin-left: 10px;
        }

        a {
            text-decoration: none;
        }
    }

    .overview-right {
        margin-left: 25px;
        padding: 25px;
        background-color: #e5f6f8;
        border: solid 2.5px #e0e1e5;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 100px 50px;
        padding-left: 50px;
        width: 100%;

        .profile-left {
            list-style-type: none;
        }

        .profile-right {
            list-style-type: none;
        }
    }
}

@media only screen and (max-width: 1500px) {
    .overview-section {
        margin-left: 25px !important;
        margin-right: 25px !important;
        min-width: 0px !important;
    }
}

section#profilePictureUpload .open{
    position: absolute;
    z-index: 9999;
}